<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <module-name>demo-keycloak-payara</module-name>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>CallbackServlet</servlet-name>
        <servlet-class>it.redhat.example.keycloak.application.CallbackServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.redhat.example.keycloak.application.LogoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NonSecuredServlet</servlet-name>
        <servlet-class>it.redhat.example.keycloak.application.NonSecuredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestrictedServlet</servlet-name>
        <servlet-class>it.redhat.example.keycloak.application.RestrictedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecuredServlet</servlet-name>
        <servlet-class>it.redhat.example.keycloak.application.SecuredServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallbackServlet</servlet-name>
        <url-pattern>/Callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NonSecuredServlet</servlet-name>
        <url-pattern>/unsecured</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestrictedServlet</servlet-name>
        <url-pattern>/standard-role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecuredServlet</servlet-name>
        <url-pattern>/restricted</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Page with customer role</web-resource-name>
            <url-pattern>/restricted/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Pages with standard role</web-resource-name>
            <url-pattern>/standard-role/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>standard-role</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>*</role-name>
    </security-role>
    <security-role>
        <role-name>standard-role</role-name>
    </security-role>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>